# Requirements to develop and test the application that are unavailable in conda
# Should be installed with pip

bandit~=1.8.5
build~=1.2.2
coverage~=7.9.1
freezegun~=1.5.2
jinja2~=3.1.2
mypy~=1.16.1
pytest~=7.4.4
pytest-cov~=6.2.1
pytest-html~=4.1.1
pytest-mock~=3.14.0
setuptools~=80.9.0
types-python-dateutil~=2.8.19.13
types-pytz~=2025.2.0.20250516
types-pyyaml~=6.0.12.9
types-requests~=2.30.0.0
types-setuptools~=67.8.0.0
types-tqdm~=4.65.0.1
typing-extensions~=4.6.0
