name: release

on:
  push:
    branches:
    - main
    tags:
    - '[0-9]*'

jobs:
  build:
    uses: ./.github/workflows/build.yml

  publish-conda-pkg-to-anaconda-dot-org:
    name: Publish conda package to Anaconda.org
    runs-on: ubuntu-latest
    needs: [build]
    steps:
    - name: Retrieve the source code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        fetch-depth: 0
    - name: Create build environment
      run: |
        source $CONDA/bin/activate
        conda create -n build --file ./etc/build.linux-64.lock
    - name: Download the build artifacts
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: conda-${{ github.sha }}
        path: ./conda-bld
    - name: publish
      env:
        TOKEN: ${{ secrets.ANACONDA_ORG_UPLOAD_TOKEN }}
      run: |
        [[ -z "$TOKEN" ]] && { echo "Error: TOKEN is not set"; exit 1; }
        source $CONDA/bin/activate && conda activate build
        # If it's not a tagged release, publish to dev label
        [[ "$GITHUB_REF" =~ ^refs/tags/[0-9] ]] || export LABEL="--label dev"
        anaconda --verbose \
          --token $TOKEN \
          upload \
          --user anaconda-cloud \
          $LABEL \
          --force \
          ./conda-bld/noarch/anaconda-*

  publish-wheel-to-anaconda-dot-org:
    name: Publish wheel to Anaconda.org
    runs-on: ubuntu-latest
    needs: [build]
    steps:
    - name: Retrieve the source code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        fetch-depth: 0
    - name: Download the build artifacts
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: wheel-${{ github.sha }}
        path: ./dist
    - name: Create build environment
      run: |
        source $CONDA/bin/activate
        conda create -n build --file ./etc/build.linux-64.lock
    - name: Upload to anaconda.org
      env:
        TOKEN: ${{ secrets.ANACONDA_ORG_UPLOAD_TOKEN }}
        GITHUB_REF: ${{ github.ref }}
      run: |
        [[ -z "$TOKEN" ]] && { echo "Error: TOKEN is not set"; exit 1; }
        source $CONDA/bin/activate && conda activate build
        # If it's not a tagged release, publish to dev label
        [[ "$GITHUB_REF" =~ ^refs/tags/[0-9] ]] || export LABEL="--label dev"
        anaconda --verbose \
          --token $TOKEN \
          upload \
          --user anaconda-cloud \
          $LABEL \
          --force \
          ./dist/*.whl

  publish-to-pypi:
    name: Publish to PyPI
    # Only publish to PyPI if a tagged release
    if: |
      startsWith(github.event.ref, 'refs/tags/0') ||
      startsWith(github.event.ref, 'refs/tags/1') ||
      startsWith(github.event.ref, 'refs/tags/2') ||
      startsWith(github.event.ref, 'refs/tags/3') ||
      startsWith(github.event.ref, 'refs/tags/4') ||
      startsWith(github.event.ref, 'refs/tags/5') ||
      startsWith(github.event.ref, 'refs/tags/6') ||
      startsWith(github.event.ref, 'refs/tags/7') ||
      startsWith(github.event.ref, 'refs/tags/8') ||
      startsWith(github.event.ref, 'refs/tags/9')
    runs-on: ubuntu-latest
    needs: [build]
    steps:
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Setup Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
    - name: Download the build artifacts
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: wheel-${{ github.sha }}
        path: ./dist
    - name: Install build dependencies
      run: pip install hatch
    - name: Upload to PyPI
      run: hatch publish
      env:
        HATCH_INDEX_USER: __token__
        HATCH_INDEX_AUTH: ${{ secrets.PYPI_TOKEN }}
